body {
  text-align: center;
  font-family: 'Inter', sans-serif;
  background-image: url("../../src/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
}

h1{
  color: #2c3e50;
  font-family: 'Montserrat', sans-serif;
}

ul{
  list-style-type: none;
  padding: 0;
  text-align: left;
}

li{
  margin: 10px 0;
  display: flex;
  align-items: center;
}

li .logo{
  width: 35px;
  height: auto;
}

a {
  text-decoration: none;
  color: #3498db;
  border: 1px solid #3498db;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.5s;
  display: flex;
  margin-top: 10px;
}

a:hover {
    background-color: #3498db;
    color: white;
    transform: translateY(-3px);
}

#curso  {
  padding: 10px 30px;
  color: #2c3e50;
  border: 1px solid #2c3e50;
}

#curso:hover {
  background-color: #2c3e50;
  color: white;
}

.cartao {
  background-color: #ffffff;
  max-width: 350px;
  width: 90%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.foto-perfil{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.logo {
  height: 20px;
  padding-right: 10px;
}

.rodape {
  margin: 30px auto 0px;
  font-size: small;
}