
body{
  text-align: center;
  background-color: #f4f4f9;
  color: #333;
  font-family: 'Inter', sans-serif;
}

h1{
  color: #2c3e50;
  font-family: 'Montserrat', sans-serif;
}

ul{
  list-style-type: none;
  padding: 0;
  text-align: left;
}

li{
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #3498db;
  border: 1px solid #3498db;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.5s;
  display: flex;
  margin-top: 10px;
}

a:hover {
    background-color: #3498db;
    color: white;
    transform: translateY(-3px);
}

.cartao {
  background-color: #ffffff;
  max-width: 350px;
  width: 90%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.foto-perfil{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
